/* Import fonts here*/
@font-face {
  font-family: OptimusPrinceps;
  src: url(OptimusPrinceps.ttf);
}

.header {
  position:sticky;
  background-color: black;
  height: 100px;
  width: 100%;
}

.footer {
  position:sticky;
  background-color: black;
  height: 90px;
  width: 100%;
}

body {
  background-color:rgb(239, 203, 233);
}

.title {
  color: aliceblue;
  text-align: center;
  font-size: 2vw;
  font-family: monospace;
  font-weight: bolder;
  line-height: 100px;
}
.footerLink {
  color: aliceblue;
  display: block;
  text-align: center;
  line-height: 80px;
  font-size: 1.4vw;
  font-family: monospace;
  font-weight: bolder;
}
/* .author {
  font-size: 20px;
  font-family: monospace;
} */

.grid {
  margin-left: 30px;
  margin-right: 30px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0,1fr));
  gap: 20px;
}

.elden {
  background-color:lightblue;
  grid-column:1;
  grid-row: 1;
  box-shadow: 20px 20px 50px 10px pink inset;
  border: 4px black double;
}

.elden:hover {
  box-shadow: 7px 7px 7px rgba(33,33,33,.2);
}

.ds3 {
  background-color:lightblue;
  grid-column:2;
  grid-row: 1;
  box-shadow: 20px 20px 50px 10px pink inset;
  border: 4px black double;
}

.ds3:hover {
  box-shadow: 7px 7px 7px rgba(33,33,33,.2);
}

.ff1 {
  background-color:lightblue;
  grid-column:3;
  grid-row: 1;
  box-shadow: 20px 20px 50px 10px pink inset;
  border: 4px black double;
}

.ff1:hover {
  box-shadow: 7px 7px 7px rgba(33,33,33,.2);
}

.ds1 {
  background-color:lightblue;
  grid-column:4;
  grid-row: 1;
  box-shadow: 20px 20px 50px 10px pink inset;
  border: 4px black double;
}

.ds1:hover {
  box-shadow: 7px 7px 7px rgba(33,33,33,.2);
}

.mh4u {
  background-color:lightblue;
  grid-column:1;
  grid-row: 2;
  box-shadow: 20px 20px 50px 10px pink inset;
  border: 4px black double;
}

.mh4u:hover {
  box-shadow: 7px 7px 7px rgba(33,33,33,.2);
}

.mk7 {
  background-color:lightblue;
  grid-column:2;
  grid-row: 2;
  box-shadow: 20px 20px 50px 10px pink inset;
  border: 4px black double;
}

.mk7:hover {
  box-shadow: 7px 7px 7px rgba(33,33,33,.2);
}

.botw {
  background-color:lightblue;
  grid-column:3;
  grid-row: 2;
  box-shadow: 20px 20px 50px 10px pink inset;
  border: 4px black double;
}

.botw:hover {
  box-shadow: 7px 7px 7px rgba(33,33,33,.2);
}

.mgsV {
  background-color:lightblue;
  grid-column:4;
  grid-row: 2;
  box-shadow: 20px 20px 50px 10px pink inset;
  border: 4px black double;
}

.mgsV:hover {
  box-shadow: 7px 7px 7px rgba(33,33,33,.2);
}

.ff3 {
  background-color:lightblue;
  grid-column:1;
  grid-row: 3;
  box-shadow: 20px 20px 50px 10px pink inset;
  border: 4px black double;
}

.ff3:hover {
  box-shadow: 7px 7px 7px rgba(33,33,33,.2);
}

.reach {
  background-color:lightblue;
  grid-column:2;
  grid-row: 3;
  box-shadow: 20px 20px 50px 10px pink inset;
  border: 4px black double;
}

.reach:hover {
  box-shadow: 7px 7px 7px rgba(33,33,33,.2);
}

.ff13 {
  background-color:lightblue;
  grid-column:3;
  grid-row: 3;
  box-shadow: 20px 20px 50px 10px pink inset;
  border: 4px black double;
}

.ff13:hover {
  box-shadow: 7px 7px 7px rgba(33,33,33,.2);
}

.ff13-2 {
  background-color:lightblue;
  grid-column:4;
  grid-row: 3;
  box-shadow: 20px 20px 50px 10px pink inset;
  border: 4px black double;
}

.ff13-2:hover {
  box-shadow: 7px 7px 7px rgba(33,33,33,.2);
}

.hk {
  background-color:lightblue;
  grid-column:1;
  grid-row: 4;
  box-shadow: 20px 20px 50px 10px pink inset;
  border: 4px black double;
}

.hk:hover {
  box-shadow: 7px 7px 7px rgba(33,33,33,.2);
}

.furi {
  background-color:lightblue;
  grid-column:2;
  grid-row: 4;
  box-shadow: 20px 20px 50px 10px pink inset;
  border: 4px black double;
}

.furi:hover {
  box-shadow: 7px 7px 7px rgba(33,33,33,.2);
}

.ff6 {
  background-color:lightblue;
  grid-column:3;
  grid-row: 4;
  box-shadow: 20px 20px 50px 10px pink inset;
  border: 4px black double;
}

.ff6:hover {
  box-shadow: 7px 7px 7px rgba(33,33,33,.2);
}

.video {
	background-color: lightblue;
	grid-column: 4;
	grid-row: 4;
	border: 4px black double;
}

.video:hover {
  box-shadow: 7px 7px 7px rgba(33,33,33,.2);
}
/* random stuff */
.cardText {
  font-family: 'Syne Mono';
  text-align: center;
  font-size: 1.2vw;
  color: rgb(4, 5, 5);
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}
.image {
  width: 100%;
}

.videoEmbed {
	width: 100%;
	height: 60%;
}

.imageLowQ {
  width: 100%;
  border: 1px black solid;
}